

# which port the server should listen to.
# (Only applies to development. For production edit ./utils.js.)
# 10000
PORT=

# Domain of your app.
# https://wuerflii.example.com | http://localhost:5173
DOMAIN=https://wuerflii.example.com

# Whether someone can register and create a new user.
# true | false
DENY_REGISTRATION_OF_NEW_USERS=false





# ____________________ Session ____________________

# This secret is essential for keeping the data of logged in users secure.
# Recommended are at least 64 characters. 
SESSION__SECRET=1secret2value3

# true for https or localhost, false for http
COOKIE__SECURE=true

# None for COOKIE__SECURE=true, Lax for COOKIE__SECURE=false
COOKIE__SAMESITE=None





# ____________________ Database ____________________

# Username of the database user.
POSTGRES_USER=wuerflii-user

# Password (best to generate a strong password but keep in mind that postgresql only supports up to 99 characters)
POSTGRES_PASSWORD=changeme123

# Name of the wuerflii database.
POSTGRES_DB=wuerflii-db

# Database ip or docker name of the database container. If using Docker, use the container name (e.g., wuerflii-postgresql). Otherwise, use "localhost" or an IP address.
# Examples: 10.23.45.67 | localhost | database.example.com | wuerflii-postgresql
POSTGRES_HOST=postgresql

# Port on which the database is listening. 5432 is the standard port for postgresql.
POSTGRES_PORT=5432

# Currently only implemented and tested for postgresql, but you have to declare this variable nevertheless.
DB_TYPE=postgresql





# ____________________ Redis ____________________

# Redis ip or docker name of the redis container.
REDIS__HOST=localhost

# Port on which redis is listening. 6379 is the standard port for redis.
REDIS__PORT=6379

# Password for redis
REDIS__PASSWORD=changeme123





# ________________________________________ Optional settings __________________________________________________

# ____________________ Email ____________________

# Email address of admin who should receive emails if something breaks. :)
# admin@domain.com
EMAIL_OF_ADMIN=

# Email address of server. This is the address from which the server sends emails to the admin.
# server@domain.com
EMAIL_SMTP_REPLYTOEMAIL=

# Host address of the smtp email server.
# smtp.example.com
EMAIL_SMTP_HOST=

# Port of smtp server.
# 465
EMAIL_SMTP_PORT=

# If ssl should be used.
# true
EMAIL_SMTP_SSL=

# Username of email account for the server.
# user123
EMAIL_SMTP_USERNAME=

# Password of email account for the server. 
# password123 
EMAIL_SMTP_PASSWORD=





# ____________________ User ____________________

# Minimum length of account name.
VITE__USER_NAME__MIN_CHARACTER=4

# Maximum length of account name.
VITE__USER_NAME__MAX_CHARACTER=64

# Minimum length of account password.
VITE__USER_PASSWORD__MIN_CHARACTER=8

# Maximum length of account password.
VITE__USER_PASSWORD__MAX_CHARACTER=128





# ____________________ Game ____________________

# Maximum length of session name. You can name sessions / constellations of players.
VITE__MAX_LENGTH_SESSION_NAME=50

# Maximum amount of players per session/game.
VITE__MAX_PLAYERS=16

# Maximum length of player name. A "player" is a participant in a specific session, whereas a "user" is the global account holder.
VITE__MAX_LENGTH_PLAYER_NAME=50

# Every user in a session has the same amount of columns. This is the maximum amount.
VITE__MAX_COLUMNS=10

# How many finalscores the server sends to client per request.
VITE__MAX_FINALSCORES_LIMIT=7
